# backend
/backend/.bundle
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep
/backend/storage/*
!/backend/storage/.keep
/backend/byebug_history
/backend/config/master.
/backend/.env

#frontend
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pids
/frontend/*.pid
/frontend/*.seed
/frontend/*.pid.lock
/frontend/lib-cov
/frontend/coverage
/frontend/.nyc_output
/frontend/.grunt
/frontend/bower_components
/frontend/.lock-wscript
/frontend/build/Release
/frontend/node_modules/
/frontend/jspm_packages/
/frontend/typings/
/frontend/.npm
/frontend/.eslintcache
/frontend/.node_repl_history
/frontend/*.tgz
/frontend/.yarn-integrity
/frontend/.env
/frontend/.cache
/frontend/ next.js build output
/frontend/.next
/frontend/.nuxt
/frontend/dist
/frontend/.vuepress/dist
/frontend/.serverless
/frontend/.idea
/frontend/sw.*
/frontend/.DS_Store
/frontend/*.swp

#db
/db/.env
